<div id="about-me" class="col-md-offset-3 col-md-6">
  <h4>about us</h4>
  <p>Tracy Mu Sung and Catherine Jones are participating in the 2014 Rails Girls Summer of Code from Sydney Australia. We will be working on Spree, follow our journey here. </p>
  <div class="social-icon-list">
    <a title="Twitter" href="https://twitter.com/cathjones0"><img src="/images/glyphicons_social_31_twitter.png"/></a>
    <a title="GitHub" href="https://github.com/spree-girls"><img src="/images/glyphicons_social_21_github.png"/></a>
    <a title="E-Mail" href="mailto:rgsocau@gmail.com"><img src="/images/glyphicons_social_39_e-mail.png"/></a>
    <a href="/atom.rss"><img src="/images/rss.png"/></a>
  </div>
</div>
